h1 Login
form(ng-submit="login(user)")
  input(type="text" ng-model="user.email" name="email" ng-init="user.email = 'test@user.com'")
  input(type="password" ng-model="user.password" name="password" ng-init="user.password = '1234'")
  input(type="submit" value="Login")

a(ui-sref="signup") Register
span  | 
a(ui-sref="reset") Forgot password?